body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#root{
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.card {
    background-color: rgb(226, 225, 225);
    border-radius: 20px;
    margin: 20px;
    width: 230px;
    height: 300px;
}

.card:hover{
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    transform: translate(0px, -10px);
	cursor: pointer;
}

.title {
    font-size: 80px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(230, 226, 24);
    text-align: center;
    -webkit-text-stroke: 4px rgb(20, 68, 158);

}

.card-text {
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
}

h3{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(202, 33, 33);
    padding: 10px;
}

h2{
    transform: translate(0px, -30px);
    transition: 0.5s;
}

p{
    visibility: hidden;
    transform: translate(0px, -36px);
    transition: 0.5s;
}

.img{
    width: 200px;
    margin: 20px;
}

.card:hover .card-text h2{
    transform: translate(0px, -150px);
    transition: ease-in-out 0.5s;
    visibility: visible;
    text-shadow: rgb(124, 124, 124) 0.1em 0.1em 0.2em;
}

.card:hover .card-text p{
    transform: translate(0px, -150px);
    transition: ease-in-out 0.5s;
    visibility: visible;
    text-shadow: rgb(124, 124, 124) 0.1em 0.1em 0.2em;
}

.card:hover .img{
    opacity: 52%;
}
